modules = ["web", "nodejs-20", "php-8.2", "python-3.12"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["imagemagick", "jpegoptim", "optipng"]

[userenv]

[userenv.shared]
SMTP_HOST = "mail.modelacademy-management.com"
SMTP_PORT = "465"
SMTP_USER = "contact@modelacademy-management.com"
SMTP_PASS = "91rerdakonde"
